html {
  font-family: sans-serif;
  font-size: 14px;
  background-color: #2f52e0;
}
#employee-div {
  background-color: #2f52e0;
  /* height: 100vh; */
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
  color: white;
  text-align: center;
}
.table-container {
  background-color: #1b39b1;
  padding: 40px;
  box-shadow: 2px 1px 1px 2px;
  position: relative;
  margin-bottom: 20px;
}
#show {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 10px;
}
#table-filtre {
  position: absolute;
  top: 0;
  right: 0;
  /* left: 10; */
  margin: 20px;
  padding: 10px;
}
#employee-div a {
  color: white;
  margin: 20px 2px;
}
table {
  border: 1px solid lightgray;
  background-color: white;
}
#page-count {
  color: white;
  display: flex;
}
tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
#zone-next_previous {
  display: flex;
  margin: 20px 0px 20px 0px;
  position: relative;
}
.zone_button-next-previous {
  display: flex;
  /* background-color: red; */
  position: absolute;
  right: 0;
}
.zone_button-next-previous button:first-child {
  margin-right: 20px;
}
.zone_button-next-previous button {
  padding: 5px;
}
